.products-container {
  max-width: 1200px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

}

@media only screen and (max-width: 700px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.b-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.b-container img{
  max-height: 80%;
}
.product-box {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  aspect-ratio: 1 / 1.2;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.price-box:active .add_to_cart_button{
  transform: scale(1.2) rotate(20deg);
  transition: transform 0.05s ease-in-out;
}

.add_to_cart_button img{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.price-box:active {
  background: linear-gradient(0deg, #fff4e0, transparent);
  transition: transform 0.05s ease-in-out;
}

.product-box:hover img {
  filter: saturate(200%);
  backdrop-filter: blur(50px);
  transition: filter 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.product-box img {
  max-width: 80%;
  height: auto;
  object-fit: cover;
}

.product-details {
  display: flex;
  flex-direction: column-reverse;
}

.product-details h3 {
  font-size: 1.2em;
  margin: 5px 0;
  font-weight: bold;
}

.price-box {
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.price-box p {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.price-box div {
  border: none;
  background: none;
  cursor: pointer;
}

.price-box div img {
  width: 24px;
  height: 24px;
}

